<p class="collection-helper-text">
  Collections are helpful lists, allowing you to save products and come back to view them at a later date.
  <br>
  You can create as many lists as you like, for everything from wedding gifts, to items for your house, or your new winter wardrobe.
  <br>
  It looks like you don't have any collections yet, though... Why not create one?
</p>
<% include collectionForm %>
