<form class="create-collection" action="/collections" method="post">
  <input class="collection-name" type="text" name="name">
  <input class="submit-collection" type="submit" name="submit" value="Submit">
</form>
