<% collections.forEach(function(collection) { %>
  <h4 class="collection-name"><%= collection.name %></h4>
  <% if (collection.products.length == 1) { %>
    <p class="collection-product-count"><%= collection.products.length %> product</p>
  <% } else { %>
    <p class="collection-product-count"><%= collection.products.length %> products</p>
  <% }; %>
<% }); %>

<p class="create-collection-helper">Want to create a new collection?</p>
<% include collectionForm %>
