<h3>Awww, shucks.</h3>
<h4>It looks like you don't have any collections... Why not create one?</h4>
<form action="/collections" method="post">
  <input type="text" name="name">
  <input type="submit" name="submit" value="Submit">
</form>
<p>Collections are helpful lists, allowing you to save products and come back to view them at a later date.</p>
<p>You can create as many lists as you like, for everything from wedding gifts, to items for your house, or your new winter wardrobe.</p>
