// Imports initial variables and Bulma functions
@import '../vendors/bulma/sass/utilities/initial-variables';
@import '../vendors/bulma/sass/utilities/functions';

// Sets initial variables
$black: #1a1a1a;
$trouva-orange: #FF6464;
$trouva-grey: #6e6e6e;
$trouva-grey-darker: rgb(26, 26, 26);
$family-sans-serif: 'Cabin', sans-serif;
$family-cursive: 'Great Vibes', cursive;


// Sets derived variables
$primary: $trouva-orange;
$family-primary: $family-sans-serif;
$button-color: $trouva-orange;
$button-hover-color: $black;
$grey: $trouva-grey;
$dark: $trouva-grey-darker;
$link: $trouva-orange;


// Imports Bulma
@import '../vendors/bulma/bulma.sass';


// Sassy CSS
.logo {
  max-width: 60%;
  height: auto;
}

.header {
  height: 2rem;
}

.level {
  width: 100%;
}

.navbar {
  padding: 1rem 0rem;
}

.button {
  margin-left: 1rem;
  border-radius: 0px;
}

.page-content {
  margin-top: 12rem;
}

.title-container {
  position: fixed;
}

.card-content {
  min-height: 28rem;
  padding-bottom: 0.5rem;
}

.product-title {
  min-height: 3.5rem;
}

.product-description {
  text-align: justify;
  text-justify: inter-word;
}

section {
  margin-top: 3rem;
  padding: 1rem;
  width: 100%;
  position: fixed;
  z-index: 5;
}

.subtitle {
  color: $trouva-grey-darker;
  font-family: $family-cursive;
  padding-top: 0.5rem;
}

.product-description-container {
  min-height: 4.5rem;
}

.product-description {
  color: $dark;
}

.product-price {
  color: $grey;
}

.create-collection-text {
  margin-top: 1rem;
  color: $dark;
}

option {
  max-width: 10rem;
}

.box {
  border-top: none;
  border-right: none;
}

.collection-name {
  margin-bottom: 0;
}

.collection-items {
  color: $grey;
}

.new-collection-title {
  margin-top: 5rem;
}

.collection-helper-text {
  color: $grey;
  font-size: $size-5;
  margin-bottom: 2rem;
}

.collection-form {
  margin-bottom: 5rem;
}

.input {
  width: 20rem;
}
