<!DOCTYPE html>
<html>
  <head>
    <% include ../partials/head %>
    <title>Trouva | Collections</title>
  </head>
  <body>
    <% include ../partials/header %>
    <h2 class="page-title">My Collections</h2>
    <% if (collections.length != 0) { %>
      <% include ../partials/showCollections %>
    <% } else { %>
      <% include ../partials/createCollection %>
    <% }; %>
  </body>
</html>
