<!DOCTYPE html>
<html>
  <head>
    <% include ../partials/head %>
    <title>Trouva | Products</title>
  </head>
  <body>
    <% include ../partials/header %>
    <section class="hero is-primary">
      <div class="container">
        <h1 class="title is-2">Products</h1>
        <h2 class="subtitle is-4">Find yourself a little something...</h2>
      </div>
    </section>
    <div class="page-content">
      <div class="container">
        <div class="columns is-multiline">
          <% for (product of products) { %>
            <% include ../partials/products/product %>
          <% }; %>
        </div>
      </div>
    </div>
    <script src="jQuery.js"></script>
  </body>
</html>
