<!DOCTYPE html>
<html>
  <head>
    <% include ../partials/head %>
    <title>Trouva | Collections</title>
  </head>
  <body>
    <% include ../partials/header %>
    <% const collections = JSON.parse(localStorage.getItem("collections")); %>
    <% if (collections) { %>
      <p>Yay! Collections!</p>
    <% } else { %>
      <p>No collections :-(</p>
    <% }; %>
  </body>
</html>
