<!DOCTYPE html>
<html>
  <head>
    <% include ../partials/head %>
    <title>Trouva | Collections</title>
  </head>
  <body>
    <% include ../partials/header %>
    <% const collections = JSON.parse(localStorage.getItem("collections")); %>
    <% if (collections) { %>
      <!-- <% include ../partials/allCollections %> -->
    <% } else { %>
      <p>No collections :-(</p>
      <!-- <% include ../partials/noCollections %> -->
    <% }; %>
  </body>
</html>
