<!DOCTYPE html>
<html>
  <head>
    <% include ../partials/head %>
    <title>Trouva | Collections</title>
  </head>
  <body>
    <% include ../partials/header %>
    <% if (collections.length != 0) { %>
      <p>Yay, collections!</p>
    <% } else { %>
      <p>Booooooo, no collections :-(</p>
    <% }; %>
  </body>
</html>
