<% if (collections.length != 0) { %>
  <div class="select is-primary">
    <select>
      <option value="" disabled selected hidden>Choose a collection</option>
      <% for (collection of collections) { %>
        <option value="<%= collection._id %>"><%= collection.name %></option>
      <% }; %>
    </select>
  </div>
  <button class="button add-to-collection">Add</button>
<% } else { %>
  <p class="create-collection-text">You don't have any collections yet. Why not <a href="/collections">create one?</a></p>
<% }; %>
