<div class="column is-one-quarter">
  <div class="card">
    <div class="card-content" id="<%= product._id %>">
      <% include productTitle %>
      <% include productImage %>
      <% include productDescription %>
      <% include productPrice %>
      <% include collectionForm %>
    </div>
  </div>
</div>
